

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #35f34f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: -120%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    margin: auto;
    z-index: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

